<!DOCTYPE html>
<html>

<head>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>QSL Customers</title>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/customers1.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <link href="css/style.css" rel="stylesheet" type="text/css" />
  <meta charset="utf-8">
  <link href="https://fonts.googleapis.com/css?family=Josefin+Sans|Poppins|Roboto" rel="stylesheet">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
    crossorigin="anonymous">
  <script src="https://unpkg.com/scrollreveal/dist/scrollreveal.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../public/css/customers2.css">
</head>



<body class="body">
  <nav class="navbar navbar-default navbar-fixed-top">
    <div class="container">
      <div class="navbar-header">
        <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
          aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
          <span class="icon-bar"></span>
        </button>
        <a class="navbar-brand" href="/">QSL</a>
      </div>
      <div id="navbar" class="collapse navbar-collapse">
        <ul class="nav navbar-nav navbar-right">
          <li><a href="/about">About</a></li>
          <li><a href="/contact">Contact</a></li>
          <li><a href="/services">Services</a></li>
        </ul>
      </div>
      <!--/.nav-collapse -->
    </div>
  </nav>

  <!-- Bootstrap slides -->
  <div class="row">
    <div class="carousel-column">

      <div id="myCarousel" class="carousel slide" data-ride="carousel">
        <!-- Indicators -->
        <ol class="carousel-indicators">
          <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
          <li data-target="#myCarousel" data-slide-to="1"></li>
          <li data-target="#myCarousel" data-slide-to="2"></li>
          <li data-target="#myCarousel" data-slide-to="3"></li>
        </ol>

        <!-- Wrapper for slides -->
        <div class="carousel-inner">
          <div class="item active">
            <img src="../public/images/CU1.jpg" alt="Networking" style="width:100%;height:550px">

            <div class="title-subtilte">
              <h3>Our collaboration</h3>
              <p> We openly welcome our costumers to get collaborated with our team.</p>
            </div>
          </div>

          <div class="item">
            <img src="../public/images/CU3.jpg" alt="Networking2" style="width:100%;height:550px">
            <div class="title-subtilte">
              <h3>Trust and privacy</h3>
              <p>We maintain our standards by holding the trust and privacy of the customers.</p>
            </div>
            <div class="slider-overlay"></div>
          </div>

          <div class="item">
            <img src="../public/images/CU2.jpg" alt="Networking3" style="width:100%;height:550px">
            <div class="title-subtilte">
              <div>
                <h3>Customer Satisfaction</h3>
                <p>We try our best to keep up the customer satisfaction at peaks.</p>
              </div>
            </div>

          </div>

          <div class="item">
            <img src="./public/images/customer-care.jpg" alt="Networking4" style="width:100%;height:550px">
            <div class="title-subtilte">
              <h3>Customer Commitment</h3>
              <p>We commit to our values and work we are promied to do.</p>
            </div>
            <div class="slider-overlay"></div>

          </div>
        </div>
        <!-- Left and right controls -->
        <a class="left carousel-control" href="#myCarousel" data-slide="prev">
          <span class=""><i class="fa fa-angle-left" aria-hidden="true"></i></span>
        </a>

        <a class="right carousel-control" href="#myCarousel" data-slide="next">
          <span class=""><i class="fa fa-angle-right" aria-hidden="true"></i></span>
        </a>

      </div>
    </div>
    <div class="container" id="posi">
      <div class="row">
        <h3 align="center">OUR TEAM ALWAYS STAND BY</h3>

        <div class="col-md-6 col-sm-12">
          <img src="../public/images/CU4.png" class="glyposi">
          <h4>COLLABORATION</h4>
          <p class="gridMatter">Qsl and it's team are very open to collaborate with it's customers to
            omprove the creativity and productivity.</p>
        </div>
        <div class="col-md-6 col-sm-12">
          <img src="../public/images/CU5.png" class="glyposi">
          <h4>Integration</h4>
          <p class="gridMatter">Our backward integration with our services enables us to be more competent and
            sustainable with in the market.</p>
        </div>

        <div class="col-md-6 col-sm-12">
          <img src="../public/images/CU6.png" class="glyposi">
          <h4>Quality Policy</h4>
          <p class="gridMatter">QSL is committed to maintain best Quality standards in the work we perform
            and improve the quality through periodic customer reviews.</p>
        </div>

        <div class="col-md-6 col-sm-12">
          <img src="../public/images/CU7.png" class="glyposi">
          <h4>Product Focus</h4>
          <p class="gridMatter">Qsl is a service oriented company we focus on development and
            commercialisation of our services meeting current requirements.</p>
        </div>

        
      </div>
    </div>
    
    <div class="styling">
      <p>At QSL we work at our best to fullfill the clients dream and the feedback are outstanding</p>
    </div>

    <footer>
      <p class="text-center">QSL Copyright &copy; 2018</p>
    </footer>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"> </script>
    <script>
      window.sr = ScrollReveal();
      sr.reveal('.navbar', {
        duration: 2000,
        origin: 'bottom'
      });

      sr.reveal(' .custHead', {
        duration: 2000,
        distance: '300px',
        origin: 'right',
        opacity: 0.1
      });
      sr.reveal('.glyposi', {
        duration: 2000,
        distance: '300px',
        origin: 'center',
        opacity: 0.1
      });

      sr.reveal('.custStyle', {
        duration: 2000,
        distance: '200px',
        origin: 'bottom',
        opacity: 0.1
      });

      sr.reveal('.p2', {
        duration: 2000,
        distance: '200px',
        origin: 'bottom',
        opacity: 0.1
      });

      sr.reveal('.p3', {
        duration: 2000,
        distance: '300px',
        origin: 'bottom',
        opacity: 0.1
      });

      sr.reveal('.styling', {
        duration: 2000,
        distance: '300px',
        origin: 'bottom',
        opacity: 0.1
      });

      var quote = document.querySelector(".styling")
      quote.addEventListener("mouseover", function () {
        quote.innerHTML = "At QSL services we work at our best to fullfill the clients dream and the feedback are outstanding";
      });
      quote.addEventListener("mouseout", function () {
        quote.innerHTML = "QSL Network Team are best known for collaborative and supportive team who helps the clients during time of need ";
      });


    </script>


    <script type="text/javascript" src="http://code.jquery.com/jquery-2.2.4.min.js"></script>
    <script type="text/javascript" src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</body>

</html>